* {
    padding: auto;
    margin: auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-align: center;
    border: 10px;
    border-radius: 20px;
    padding: 15px;
    margin: 15px;
    background-color: rgb(151, 233, 233);
    font-size: 22px;
    color: rgb(102, 78, 78);
}

ul {
    text-transform: uppercase;
    text-decoration: none;
}

li {
    display: inline;
    margin: 15px;
}

.Intro {
  font-size: 18px;
  padding: 28px;
  width: 60%; 
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  background-color: rgb(151, 233, 233);
  border: 10px;
  border-radius: 20px;
}
body {
    background-color: rgb(202, 202, 162);
}

