@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Serif+Display&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&display=swap');
* {
    padding: auto;
    margin: auto;
    font-family:'Inter';
}

header {
    text-align: center;
    width: 100%;
    border: 5px;
    border-radius: 5px;
    margin: 0;
    padding-bottom: 10px;
    background-color: rgb(151, 233, 233);
    font-size: 22px;
    color: black;
}

ul {
    text-transform: uppercase;
    text-decoration: none;
}

li {
    display: inline;
    margin: 15px;
    font-weight: bold;
}

li a:hover {
  color: rgb(102, 27, 18);
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: rgba(248, 240, 129, 0.795);
}

.Intro {
  flex-grow: 1;
  padding: 28px;
  width: 60%; 
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(151, 233, 233);
  border: 4px solid black;
  border-radius: 20px;
}
.ContenedorIntro {
  display: flex;
  gap: 25px;
  padding: 5px;
}
.Introtxt {
  font-size: 18px;
  font-weight: 430;
  text-align: justify;
}
.Introimg {
  flex-grow: 1;
  text-align: center;
}

.img {
  max-width: 110%;
  border: 4px black solid;
  border-radius: 15px;
}
.imagen {
  max-width: 100%;
  border: 4px black solid;
  border-radius: 15px;
}

.Objetivos {
  flex-grow: 1;
  padding: 28px;
  width: 60%; 
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(151, 233, 233);
  border: 4px solid black;
  border-radius: 20px;
}
.ContenedorObj {
  display: flex;
  gap: 25px;
  padding: 5px;
}
.Objtxt {
  font-size: 18px;
  font-weight: 430;
  text-align: justify;
}
.Objimg {
  flex-grow: 1;
  text-align: center;
}

footer {
  background-color: rgb(151, 233, 233);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  margin: auto;
  border: 5px;
  border-radius: 5px;
}
